body{
    background-color: lightgray;
}
h1{
    text-align:left;
}
.card img{
width: 300px;
}
.szöveg{
    font-size:medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#kep{
    width: 300px;
    height: 300px;
}
a{
    color: lightcoral;
    text-decoration: none;
}

